@page "/"

<PageTitle>SMS - Programs</PageTitle>

<div style="height:93vh;" class="overflow-auto">
    <div class="row">
        <div class="col col-6">
            <img src="main.jpg" alt="Westwind Logo" class="img-fluid mx-auto d-block mb-3" />
            <h3>School Management System - Programs</h3>
            <h4>This system provides school programs management, includes:</h4>
            <h5>Query Page</h5>
            <p>Display the results of looking for Programs by Program Name. The user will be able to enter the program name or portion of the name. The result of the query will be a table presentation of the Programs who name contains the search argument. The SchoolCode will be displaying as the school name. </p>
            <p>Each program line will contain a link to allow for record maintenance.</p>
            <h5>CRUD Page</h5>
            <p>Programs - Single Item Create/Read/Update/Delete.</p>
            <ul>
                <li>Use a select control to displays Schools, showing the school name. The select control is to have a prompt line.</li>
                <li>Programs with program courses cannot be removed.</li>
            </ul>
            <h4>Known Bugs</h4>
            <ul>
                <li>None</li>
            </ul>
        </div>
        <div class="col col-6">
            <h4>ERD</h4>
            <img src="A03ERD.png" />
        </div>
    </div>
</div>