@page "/"

<PageTitle>Home</PageTitle>

<h1>HTPS: Home for Warranty Registrations</h1>
<br/><br/>
<div class="row">
    <div class="col-md-2" style="text-align:center">
        <img src="./images/HTPSLogo.png" alt="Logo image" />
    </div>
    <div class="col-md-8">
        <p style="font-size:large;">
            This web site is used to hold product warranty registrations.
            This system will manage registrations for various products.
            If you do not see your product on our site, contact us and we will correct the situation.
            Producers of products on our site recongize our site as an acceptable and proper warranty registration.
        </p>


        <p>
            This web site is an educational project. Information and names are fictional. Any
            similarity of names and data is accidental.
        </p>
    </div>
</div>