@page "/privacy"
<PageTitle>Privacy</PageTitle>
<h1>Privacy</h1>

<p>Use this page to detail your site's privacy policy.</p>
<h2>Credits and attributions</h2>
<p style="font-size:larger;">
    The image for HTTP was created using
    <a href="https://www.freelogodesign.org/" title="Ctrl + click to separate window">FreeLogo Design</a>. This image is used
    only in this educational work. Any similarity to any other logo is accidental
    and there is no intent of copy right infringment.
</p>

<h3>Copyright info</h3>
<img src="./images/Copyright-Protected-work.png" alt="copyright info" />
<h3>
    <a href="https://support.google.com/legal/answer/4558992?h1=en&ref_topic=4558877">
        What is Fair Use?
    </a>
</h3>

@code {

}
