@page "/"

<PageTitle>Home</PageTitle>

<h1>Assessment: In Class 2 Blazor Pages</h1>

<!-- TODO: Activity 1-->
<h4>Youfang Yao</h4>


This application will collect data and save it to a comma separated file. During the
data collection, the data will be validated. On a separate page, the csv file will be
read and displayed in a tabular report. The work contained in this start kit compiles
and runs. <strong>Add</strong> your code to the application.

